$primarycolor: #fe0000;
$graycolor: #cccccc;
$font: "Bebas Neue", cursive;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  max-width: 1182px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;

  &__container {
    max-width: 1227px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  &__top {
    margin-bottom: 30px;
    &--list {
      display: flex;
      justify-content: flex-end;
    }

    &--item {
      margin-left: 40px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: #7a7a7a;
      }
    }
  }

  &__icon {
    font-size: 11px;
    color: $primarycolor;

    &--black {
      color: black;
    }
  }

  &__bottom {
    &--list {
      display: flex;
      justify-content: flex-end;
    }

    &--link {
      font-size: 14px;
      font-weight: 600;
    }

    &--item {
      margin-left: 26px;
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        width: 0;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: -7px;
        background: $primarycolor;
        transition: all 0.3s linear;
      }

      &:hover::after {
        width: 100%;
      }
    }

    &--search {
      position: relative;

      &::after {
        content: none;
      }
    }

    // input[type="search"]{
    //     width: 138px;
    //     height: 26px;
    //     outline: none;
    //     border: 1px solid;

    //     border-radius: 10px;
    //     padding-left: 10px;
    //     padding-right: 40px;

    //     font-size: 12px;

    //     // opacity: 0;
    // }

    &--icon {
      // position: absolute;
      // right: 5px;
      // top: 5px;
      cursor: pointer;
    }
  }
}

.swiper {
  &-wrapper {
    height: 488px;
  }

  &-slide {
    // text-align: center;
    // font-size: 18px;
    // background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__img {
    width: 100%;
    height: 488px;
    object-fit: cover;
  }
}

.mySwiper2 {
  // height: 80%;
  width: 100%;
}

.mySwiper .swiper-slide-thumb-active {
  border: red 1px solid;
}

.thumb {
  &__wrapper {
    height: 59px;
    justify-content: flex-end;
  }

  &__slide {
    width: 154px !important;
    height: 100%;
    margin: 0 0 0 10px !important;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}

.slider {
  &__container {
    display: flex;
    margin-top: 10px;
  }

  &__head {
    font-family: $font;
    display: flex;
    position: relative;
  }

  &__title {
    text-shadow: -4px -1px 2.5px hsl(0, 0%, 78%);
    font-size: 50px;
    transform: scale(1.3);
    font-weight: 500;

    position: absolute;
    top: 6px;

    &--red {
      font-size: 25px;
      margin-left: 198px;
      padding-top: 22px;
      color: $primarycolor;
      transform: scaleX(1.2);
      font-weight: 500;
    }
  }
}

.search {
  margin-top: 60px;
  padding: 32px 36px 30px;
  border-bottom: 4px $primarycolor solid;

  display: flex;

  background-color: black;

  .custom-select {
    font-family: "Open Sans", sans-serif;
    position: relative;
    width: 212px;
    margin-right: 16px;
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color: white;
    height: 50px;
  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 15px;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: black;
    padding: 13px 15px;
    font-size: 17px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.btn {
  &__search {
    width: 167px;
    height: 50px;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;

    background-color: $primarycolor;
    color: #fff;

    outline: none;
    border: none;
    cursor: pointer;

    transition: all 0.3s ease-in;

    &:hover {
      color: $primarycolor;
      background-color: white;
    }
  }
}

.feature {
  margin-top: 58px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px 41px;
  }

  &__item {
    text-align: center;
  }

  &__img {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__category {
    margin-bottom: 47px;
  }
}

.heading {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;

  text-align: center;

  padding-bottom: 27px;
  border-bottom: solid 2px $graycolor;
  margin-bottom: 34px;

  position: relative;

  &::after {
    content: "";
    width: 115px;
    height: 4.5px;

    position: absolute;
    top: 91.5px;
    left: 522px;

    background-color: #fe0000;
  }
}

.btn__primary {
  padding: 16px 40px;
  background: transparent;
  color: $primarycolor;

  outline: none;
  border: 2px solid $primarycolor;
  border-bottom: 4px solid $primarycolor;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;

  display: table;
  margin: 0 auto;

  cursor: pointer;
  transition: all 0.3s ease-in;
  position: relative;

  span {
    background: $primarycolor;

    height: 0;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

    transition: all 0.3s linear;
  }

  &:hover span {
    height: 100%;
  }

  &:hover {
    color: white;
  }
}

.type {
  margin-top: 74px;

  &__category {
    display: flex;
  }

  &__card {
    width: 100%;
    height: 469px;

    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
    color: #fff;

    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-3%);
    }
  }

  .card-1 {
    background: url(/img/type_1.png) center;
  }
  .card-2 {
    background: url(/img/type_2.png) center;
  }
  .card-3 {
    background: url(/img/type_3.png) center;
  }
  .card-4 {
    background: url(/img/type_4.png) center;
  }
  .card-5 {
    background: url(/img/type_5.png) center;
  }

  &__title {
    font-family: $font;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 14px;
    font-weight: 300;
    text-align: center;

    margin-bottom: 24px;
  }
}
